{% if (page.clientLabel and page.clientLabel != '') and (page.clients.client or page.clients.client2 or page.clients.client3 or page.clients.client4 or page.clients.client5) %}
<br><br>
<section class="m-story__clients" uk-scrollspy="target: > p; cls: uk-animation-fade; delay: 100">
  {% if (page.clientLabel and page.clientLabel != '' %}
  <h3>{{page.clientLabel}}</h3>
  {% endif %}
  <div class="clients-inner flex">
    {% if page.clients.client %}
    <div class="logo-wrapper">
      <img src="{{ page.clients.client }}">
    </div>
    {% endif %}
    {% if page.clients.client2 %}
    <div class="logo-wrapper">
      <img src="{{ page.clients.client2 }}">
    </div>
    {% endif %}
    {% if page.clients.client2 %}
    <div class="logo-wrapper">
      <img src="{{ page.clients.client3 }}">
    </div>
    {% endif %}
    {% if page.clients.client2 %}
    <div class="logo-wrapper">
      <img src="{{ page.clients.client4 }}">
    </div>
    {% endif %}
    {% if page.clients.client2 %}
    <div class="logo-wrapper">
      <img src="{{ page.clients.client5 }}">
    </div>
    {% endif %}
  </div>
</section>
{% endif %}
<section class="m-page__footer">
  {% if page.footer %}
    {{ page.footer | markdownify | replace: '\', ''}}
    {% else %}
    <h1>We believe in a world where <strong>everyone can make a living doing what they love.</strong></h1><p>Macramé Network is a graphic design agency that builds unique teams for each new brief by working with an extensive network of skilled professionals.</p><p>Nothing pleases us more than matching the right team with the right project.</p>
  {% endif %}
</section>
